<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-12">

        <div class="well">
          <h3>Πληροφορίες</h3>

          Η παρούσα διπλωματική εργασία υλοποιήθηκε από τον <b>Χαράλαμπο Παυλόπουλο</b>, <b>ΑΜ: [...]</b> και είναι αφιερωμένη στην παράδοση στην Ελλάδα. 

        <p>Στόχος αποτελεί η εμφάνιση σημαντικών παραδοσιακών στοιχείων της Ελλάδας, όπως οι <i>παραδοσιακές ενδυμασίες, τα παραδοσιακά χορογραφήματα, τα παραδοσιακά τραγούδια και τα παραδοσιακά παιχνίδια</i>.

      <p> Για την υλοποίηση της εφαρμογής χρησιμοποιήθηκαν οι παρακάτω βιβλιοθήκες / τεχνολογίες:
          <ul>
            <li><b>node.js</b>: Ένα περιβάλλον εκτέλεσης για JavaScript που επιτρέπει την εκτέλεση JavaScript στον server-side. Είναι πολύ δημοφιλές για την ανάπτυξη server-side εφαρμογών.</li>
            <li><b>leaflet</b>: Μια βιβλιοθήκη JavaScript για τη δημιουργία διαδραστικών χαρτών. Είναι ελαφριά και ευέλικτη, ιδανική για την ενσωμάτωση χαρτών στις ιστοσελίδες σας.</li>
            <li><b>express</b>: Ένα framework για το Node.js που διευκολύνει την ανάπτυξη web εφαρμογών και API. Προσφέρει πολλές δυνατότητες για τη διαχείριση αιτήσεων HTTP, δρομολόγηση και middleware.</li>
            <li><b>ejs</b>: Μια μηχανή template για το Node.js που σας επιτρέπει να ενσωματώνετε JavaScript σε HTML και να δημιουργείτε δυναμικές σελίδες.</li>
          </ul>
      <p> Για την εκτέλεση της εφαρμογής πρέπει να ακολουθηθούν τα παρακάτω βήματα:

      <ol>
        <li><b>Εγκατάσταση Εξαρτήσεων:</b>
          <ul>
            <li>Εγκατάσταση του NPM (Node Package Manager) ακολουθώντας τις οδηγίες από το <a href="https://docs.npmjs.com/cli/v10/commands/npm-install" target="_blank">documentation</a>.</li>
            <li>Μετάβαση στον φάκελο (directory) της εφαρμογής μέσω της γραμμής εντολών.</li>
            <li>Εκτέλεση της εντολής <code>npm install</code> για την εγκατάσταση όλων των απαιτούμενων βιβλιοθηκών και εξαρτήσεων που αναφέρονται στο αρχείο <code>package.json</code>.</li>
          </ul>
        </li>
        <li><b>Εκκίνηση του server:</b>
          <ul>
            <li>Εκτέλεση της εντολής <code>npm start</code> για να γίνει εκτέλεση του server.</li>
            <li>Μετάβαση στη διεύθυνση <a href="http://localhost:3000" target="_blank">http://localhost:3000</a>.</li>
          </ul>
        </li>
      </ol>
    </div>
    </div>
  </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/scripts %>
</body>

</html>
